body {
    font-family: "Helvetica Neue", sans-serif;
}

.wrapper {
    width: 400px;
    margin: 0 auto;
    background-color: #eee;
    padding: 5px;
}

.row {
    padding: 5px 0;
}

#chat {
    margin: 0;
    padding: 0;
    height: 200px;
    overflow-y: scroll;
}

#chat li {
    list-style-type: none;
    padding-top: 3px;
}

button {
    font-size: 20px;
}

input {
    font-size: 20px;
}